{% extends "base.html" %}
{% load static %}

{% block metadata %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}


{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

{% endblock %}


{% block title %}
    Sistema de Tramite Documentario
{% endblock %}

{% block content %}
    <div id="modal-edit" class="modal">
        <form class="modal-content" method="POST" id="Form_edit_registro" action="/action_page.php">
            {% csrf_token %}
            <div class="container">
                <h3>Editar registro</h3>
                <div>
                    <label class="switch">
                        <input type="checkbox" id="type-checkbox">
                        <div class="slider round">
                        </div>
                    </label>
                </div>

                <div class="group row">
                    <div class="col-md-3 item">
                        <label for="clasificacion_index">Clasificación</label>
                        <select name="clasificacion_index" id="clasification-select">
                            <option value="1">Comun </option>
                            <option value="2">Clasificado </option>
                        </select>
                    </div>
                    <div class="col-md-3 item">
                        <label for="n_hoja_index">Nro de hoja</label>
                        <input class="inputBorder" id="nro-hoja-input" type="number" name="n_hoja_index" placeholder="Ej.0001"/>
                    </div>
                    <div class="col-md-3 item">
                        <label for="f_ingreso_index">Fecha de ingreso</label>
                        <input class="inputBorder" id="entry-date-input" type="date" name="f_ingreso_index" placeholder="dd/mm/aa" />
                    </div>
                    <div class="col-md-3 item">
                        <label for="f_salida_index">Fecha de salida</label>
                        <input class="inputBorder" id="exit-date-input" type="date" name="f_salida_index" placeholder="dd/mm/aa"/>
                    </div>
                </div>
                <hr/>
                <div class="group row">
                    <div class="col-md-6 item">
                        <label for="u_remitente_index">Unidad de remitente</label>
                        <input class="inputBorder" id="sender-unit-input" type="text" name="u_remitente_index" placeholder="Buscar unidad.."/>
                    </div>
                    <div class="col-md-6 item">
                        <label for="remitente_index">Remitente</label>
                        <input class="inputBorder" id="sender-input" type="text" name="remitente_index" placeholder="Remitente"/>
                    </div>
                </div>
                <hr/>
                <div class="group row">
                    <div class="col-md-3 item">
                        <label for="a_destino_index">Área de destino</label>
                        <select class="inputBorder" id="destiny-area-select" name="a_destino_index">
                        </select>
                    </div>
                    <div class="col-md-3 item">
                        <label for="u_destino_index">Unidad de destino</label>
                        <input class="inputBorder" id="destiny-unit-input" name="u_destino_index" type="text" placeholder="Buscar unidad.."/>
                    </div>
                    <div class="col-md-3 item">
                        <label for="encargado_index">Encargado</label>
                        <input class="inputBorder" id="in-charge-input"  name="encargado_index" type="text" placeholder="Buscar encargado.." />
                    </div>
                    <div class="col-md-3 item">
                        <label for="d_salida_index">Documento de Salida</label>
                        <input class="inputBorder" id="exit-document-input" name="d_salida_index" type="date" placeholder="Documento de respuesta" />
                    </div>
                </div>
                <hr/>
                <div class="group">
                    <div class="row">
                        <div class="col-md-4 item">
                            <label for="t_documento_index">Tipo de documento</label>
                            <select class="inputBorder" id="type-doc-select" name="t_documento_index">
                            </select>
                        </div>
                        <div class="col-md-4 item">
                            <label for="u_destino_2">Unidad de destino</label>
                            <input class="inputBorder" id="destiny-unit-input" type="text" name="u_destino_2" placeholder="Ej.500A"/>
                        </div>
                        <div class="col-md-4 item">
                            <label for="encargado_2">Fecha</label>
                            <input class="inputBorder" id="doc-date-input" type="text" name="encargado_2" placeholder="dd/mm/aa"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 item">
                            <label for="t_asunto">Asunto</label>
                            <textarea class="textBorder" id="subject-textarea" name="t_asunto" rows="5" placeholder=" Escriba aqui el asunto"></textarea>
                        </div>
                        <div class="col-md-6 item">
                            <label for="t_observaciones">Observaciones</label>
                            <textarea class="textBorder" id="comments-textarea" name="t_observaciones" rows="5" placeholder=" Escriba aqui sus Obsercvaciones"></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="clearfix">
                    <button type="button" id="btn-cancel" class="btn cancelbtn">Cancelar</button>
                    <button type="button" id="excel" class="btn btn-danger deletebtn">Editar</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
