{% extends "base.html" %}
{% load static %}

{% block metadata %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}


{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>

{% endblock %}


{% block title %}
    Historial
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="tm-left-right-container">
                <div class="tm-blue-bg tm-left-column">
                    <div class="tm-logo-div text-xs-center">
                        <img src="{% static 'img/profile.png' %}" >
                        <div class="tm-logo-div2 text-xs-center">
                            Usuario {{user.username}}<br>
                            <a>Administrador</a>
                        </div>
                    </div>
                    <nav class="tm-main-nav">
                        <ul class="tm-main-nav-ul">
                            <li class="tm-nav-item">
                                <a href="{% url 'index' %}" class="tm-nav-item-link">AÑADIR NUEVO</a>
                            </li>
                            <li class="tm-nav-item">
                                <a href="{% url 't_historial' %}" class="tm-nav-item-link">HISTORIAL</a>
                            </li>
                            <li class="tm-nav-item">
                                <a href="{% url 't_reportes' %}" class="tm-nav-item-link">REPORTES</a>
                            </li>
                            <li class="tm-nav-item">
                                <a href="{% url 'logout_user' %}" class="tm-nav-item-link">SALIR</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="tm-right-column">
                    <div>
                            <table id="TablaFiltradora" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Área</th>
                                        <th>Encargado</th>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Acción</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery_3_5.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/historial.js' %}"></script>
    <script>
        $(document).ready(function() {

           // llenar_tabla();

        });
    </script>

{% endblock %}
