{% extends "base.html" %}
{% load static %}

{% block metadata %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}


{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

{% endblock %}


{% block title %}
    Sistema de Tramite Documentario
{% endblock %}

{% block content %}
    <div class="tm-left-right">
        <div class="tm-blue-bg col-md-3 left">
            <div class="tm-logo-div text-xs-center">
                <img src="{% static 'img/profile.png' %}" >
                <div class="tm-logo-div2 text-xs-center">
                    Usuario {{user.username}}<br>
                    <a>Administrador</a>
                </div>
            </div>
            <nav class="tm-main-nav">
                <ul class="tm-main-nav-ul">
                    <li class="tm-nav-item">
                        <a href="{% url 'index' %}" class="tm-nav-item-link">AÑADIR NUEVO</a>
                    </li>
                    <li class="tm-nav-item">
                        <a href="{% url 't_historial' %}" class="tm-nav-item-link">HISTORIAL</a>
                    </li>
                    <li class="tm-nav-item">
                        <a href="{% url 't_reportes' %}" class="tm-nav-item-link">REPORTES</a>
                    </li>
                    <li class="tm-nav-item">
                        <a href="{% url 'logout_user' %}" class="tm-nav-item-link">SALIR</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-md-9 right">
            <form method="POST" id="Form_add_registro">
                <h3 align="center">REGISTRAR NUEVO DOCUMENTO</h3>
                {% csrf_token %}
                <div>
                    <label class="switch">
                        <input type="checkbox" id="togBtn">
                        <div class="slider round"></div>
                    </label>
                </div>
                <div class="group row">
                    <div class="col-md-3 item">
                        <label for="clasificacion_index">Clasificación</label>
                        <select name="clasificacion_index" id="clasificacion_index">
                            <option value="1">Comun </option>
                            <option value="2">Clasificado </option>
                        </select>
                    </div>
                    <div class="col-md-3 item">
                        <label for="n_hoja_index">Nro de hoja</label>
                        <input class="inputBorder" id="n_hoja_index" type="number" name="n_hoja_index" placeholder="Ej.0001"/>
                    </div>
                    <div class="col-md-3 item">
                        <label for="f_ingreso_index">Fecha de ingreso</label>
                        <input class="inputBorder" id="f_ingreso_index" type="date" name="f_ingreso_index" placeholder="dd/mm/aa" />
                    </div>
                    <div class="col-md-3 item">
                        <label for="f_salida_index">Fecha de salida</label>
                        <input class="inputBorder" id="f_salida_index" type="date" name="f_salida_index" placeholder="dd/mm/aa"/>
                    </div>
                </div>
                <hr/>
                <div class="group row">
                    <div class="col-md-6 item">
                        <label for="u_remitente_index">Unidad de remitente</label>
                        <input class="inputBorder" id="u_remitente_index" type="text" name="u_remitente_index" placeholder="Buscar unidad.."/>
                    </div>
                    <div class="col-md-6 item">
                        <label for="remitente_index">Remitente</label>
                        <input class="inputBorder" id="remitente_index" type="text" name="remitente_index" placeholder="Remitente"/>
                    </div>
                    </div>
                <hr/>
                    <div class="group row">
                        <div class="col-md-3 item">
                            <label for="a_destino_index">Área de destino</label>
                            <select>
                                <option value="">Selecionar</option>
                                <option value="A">Area A</option>
                                <option value="B">Area B</option>
                                <option value="C">Area C</option>
                            </select>
                        </div>
                        <div class="col-md-3 item">
                            <label for="u_destino_index">Unidad de destino</label>
                            <input class="inputBorder" id="u_destino_index" type="text" name="u_destino_index" placeholder="Buscar unidad.."/>
                        </div>
                        <div class="col-md-3 item">
                            <label for="encargado_index">Encargado</label>
                            <input class="inputBorder" id="encargado_index" type="text" name="encargado_index" placeholder="Buscar encargado.." />
                        </div>
                        <div class="col-md-3 item">
                            <label for="d_salida_index">Documento de Salida</label>
                            <input class="inputBorder" id="d_salida_index" type="date" name="d_salida_index" placeholder="Documento de respuesta" />
                        </div>
                    </div>
                <hr/>
                <div class="group">
                    <div class="row">
                        <div class="col-md-4 item">
                            <label>Tipo de documento</label>
                            <select>
                                <option value="">Selecionar</option>
                                <option value="A">documento A</option>
                                <option value="B">documento B</option>
                                <option value="C">documento C</option>
                            </select>
                        </div>
                        <div class="col-md-4 item">
                            <label for="u_destino_2">Unidad de destino</label>
                            <input class="inputBorder" id="u_destino_2" type="text" name="u_destino_2" placeholder="Ej.500A"/>
                        </div>
                        <div class="col-md-4 item">
                            <label for="encargado_2">Encargado</label>
                            <input class="inputBorder" id="encargado_2" type="text" name="encargado_2" placeholder="dd/mm/aa"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 item">
                            <label>Asunto</label>
                            <textarea class="textBorder" id="t_asunto" rows="5" placeholder=" Escriba aqui el asunto"></textarea>
                        </div>
                        <div class="col-md-6 item">
                            <label>Observaciones</label>
                            <textarea class="textBorder" id="t_observaciones" rows="5" placeholder=" Escriba aqui sus Obsercvaciones"></textarea>
                        </div>
                    </div>
                
                </div>
                <div class="btn-block"  align="end">
                    <button type="button" class="red-button" onclick="limpiarForm()">Limpiar</button>
                    <button type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery_3_5.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
    <script>
        function limpiarForm()
        {
            console.log("Pulso");
            $("#Form_add_registro")[0].reset();
        }
    </script>
    <script>
    $(document).ready(function()
    {
    });

    </script>
{% endblock %}