body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	overflow-y: hidden;
	width: 100vw;
}

@media (max-width: 768px) {
	body {
		overflow-y: scroll;
	}
}

@media (min-width: 768px){
	
	.right {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		overflow-y: scroll;
	}
}  

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

form, .content {
	width: 100%;
	padding: 4rem;
	background: #fff;
}

input, select, textarea {
	border: 1px solid #ccc;
	border-radius: 5px;
}

input {
	width: calc(100% - 10px);
	padding: 5px;
}

select {
	width: 100%;
	padding: 7px 0;
	background: transparent;
}

textarea {
	width: calc(100% - 6px);
}

input:hover, select:hover, textarea:hover {
	box-shadow: 0 0 2px 0 #a4adb3;
}

button {
	padding: 10px 15px 10px 15px;
	border: none;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	background-color: #0D877A;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

button:hover {
	background-color: #4cbd2a;
}

@media (min-width: 568px) {
	.name-item, .city-item {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.name-item input, .city-item input {
	width: calc(50% - 20px);
	}
	.city-item select {
	width: calc(50% - 8px);
	}
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

label {
	font-size: 10pt;
}
.red-button {
	background-color: #CC1A1A;
}

.group {
	padding: 15px 0px 0px 0px;
}

.dash{
	border: 1px solid white;
	margin: 1em ;
	width: 90%;
	height: 0px;

}
.input-border{
	border-radius: 5px;
}

.textBorder{
	border-radius: 10px;
}


.tm-blue-bg {
	height: 100vh;
	background-color: #00264C;
	color: white;
}

.tm-blue-text {	color: #00264C; }
.tm-blue-bg a {	color: white; }

.tm-site-name {
	font-size: 4rem;
	margin-top: 20px;
}

.tm-logo-div { 
	padding-top: 40px; 
	padding-bottom: 40px;
}

.tm-main-nav { display: none; }

.tm-main-nav-ul {
	display: inline-block;
	padding-left: 0;
}

.tm-section { margin-bottom: 60px; }
.tm-welcome-title {	font-size: 2.4rem; }
.tm-section-title {	font-size: 2.2rem; }
.tm-content-div { padding: 40px; }
.tm-margin-b-45 { margin-bottom: 45px; }
.tm-margin-b-30 { margin-bottom: 30px; }
p { line-height: 2; }

.btn-block {
	padding-top: 15px;
}

.tm-nav-item:hover a,
.tm-nav-item:active a,
.tm-nav-item:focus a,
.tm-nav-item-link.active {
	color: #f4ef5e;
}

.tm-about-img-container { margin-top: 50px; }

.tm-gallery-container {
	overflow: auto;
	margin-left: -5px;
	margin-right: -5px;
}

.tm-img-container {	float: left; }

.tm-img-container-1,
.tm-img-container-2,
.tm-img-container-3 { 
	margin-bottom: 10px;
	width: 50%; 
}

.tm-img-tn {
	padding-left: 5px;
	padding-right: 5px;
}

.tm-img-tn {
	display: block;
	margin: 0 auto;
}

.tm-contact-right { margin-top: 40px; }

.form-control {
	border-color: #00264C;
	border-radius: 0;
	color: #00264C;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.3rem;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #00264C !important;
}
 
input:-moz-placeholder,
textarea:-moz-placeholder { /* Firefox 18- */
	color: #00264C !important;  
}
 
input::-moz-placeholder,
textarea::-moz-placeholder {  /* Firefox 19+ */
	color: #00264C !important;  
}
 
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  
	color: #00264C !important;  
}

.tm-contact-right {	padding-left: 15px; }
.tm-copyright-p { margin-bottom: 0; }

/* Media Queries */
@media (min-width: 576px) {
	.container { width: 100%; }
	.tm-site-name { margin-top: 35px; }
	.tm-welcome-title { font-size: 3rem; }
	.tm-img-container-1 { width: 20%; }
	.tm-img-container-2 { width: 33.3334%; }
	.tm-img-container-3 { width: 25%; }
}

@media (min-width: 768px) {
	.tm-about-img-container { margin-top: 0; }
}

@media (min-width: 992px) {
	.tm-main-nav {
		display: flex;
		justify-content: center;
	}

	.tm-left-column { 
		position: fixed; 
		height: 100%;
	}

	.container { width: 100%; }
	.tm-left-column { width: 25%; }

	.tm-right-column {
		float: right;
		width: 75%;

	}
	.tm-right-column2report {
		float: right;
		width: 70%;
		margin: 40px auto auto auto; /*  arriba, derecha,  abajo, izquierda */
	}

	.tm-nav-item {
		cursor: pointer;
		text-align: center;
		list-style: none;
		padding: 10px 15px;
		transition: all 0.3s ease;
	}

	.tm-site-name {
	    font-size: 3.3rem;
	    margin-top: 30px;
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 150px;
		height: 34px;
	  }
	  
	  .switch input {display:none;}
	  
	  .slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #0D877A;
		-webkit-transition: .4s;
		transition: .4s;
		 border-radius: 34px;
	  }

	  .slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 50%;
	  }
	  
	  input:checked + .slider {
		background-color: #00264C;
	  }
	  
	  input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	  }
	  
	  input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(115px);
	  }
	  
	  .slider:after
	  {
	   content:'Clasificado';
	   color: white;
	   display: block;
	   position: absolute;
	   transform: translate(-50%,-50%);
	   top: 50%;
	   left: 50%;
	   font-size: 14px;
	  }
	  
	  input:checked + .slider:after
	  {  
		content:'Común';
	  }	  

	.tm-logo-div {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}

	.tm-section { margin-bottom: 100px; }

	.tm-content-div { padding: 80px 40px 30px 80px;	}

	.tm-img-container-1 {
		margin-bottom: 10px;
		width: 33.3334%;
	}

	.tm-img-container-2 {
		margin-bottom: 10px;
		width: 50%;
	}

	.tm-img-container-3 {
		margin-bottom: 10px;
		width: 33.3333%;
	}

	.tm-contact-right { margin-top: 0; }
}

@media (min-width: 1200px) {		
	.container { width: 100%; }	
	.tm-button-wide { padding: 18px 68px; }
	.tm-img-container-1 { width: 20%; }
	.tm-img-container-2 { width: 33.3333%; }
	.tm-img-container-3 { width: 25%; }
	.tm-contact-right { padding-left: 42px; }
}

@media (min-width: 1500px) {	
	.container { width: 100%; }
	p { margin-bottom: 30px; }

	.tm-gallery-container {
		overflow: auto;
		margin-left: -10px;
		margin-right: -10px;
	}

	.tm-img-tn {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (min-width: 1800px) {
	p { margin-bottom: 36px; }

	.tm-gallery-container {
		overflow: auto;
		margin-left: -10px;
		margin-right: -10px;
	}

	.tm-img-container-1 { width: 20%; }

	.tm-img-tn {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-height: 860px) {
	.tm-logo-div {
	    padding-top: 45px;
	    padding-bottom: 20px;
	}
	.tm-logo-div2 {
	    padding-top: 30px;
	    padding-bottom: 20px;
	}

	.tm-nav-item { font-size: 1.4rem; }

	.tm-site-name {
		font-size: 2.4rem;
		margin-top: 10px;
	}
}

@media (min-height: 859px) {
	.tm-logo-div {
	    padding-top: 100px;
	    padding-bottom: 100px;
	}

	.tm-nav-item { font-size: 1.9rem; }
}


/*Modal*/
.container {
	padding: 8%;
	text-align: center;
	background-color: white;
	width: fit-content;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: transparent;
	padding-top: 50px;
	transition: ease-in 1s;
  }

  /* Modal Content/Box */
  .modal-content {
	background-color: white;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }

  /* Clear floats */
  .clearfix::after {
	content: "";
	clear: both;
	display: table;
  }

  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
	.cancelbtn, .deletebtn {
	   width: 100%;
	}
  }