.grid{
    display: grid;
    height: 100%;
    grid-template-columns: 30% auto;
}

.gridPerfil {
    background: #00264C;
    padding: 2em;
    height: 600px;
}
.gridForm {
    padding: 3em;
}
.grid div:hover{
    border: 1px solid #f1c40f;
}
.dot {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
  }